<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Apps">
    <test name="Regression">
        <classes>
            <class name="com.zom.qa.testcases.LoginTest"/>
            <class name="com.zom.qa.testcases.homepageTest"/>
            <class name="com.zom.qa.testcases.contactsPageTest"/>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->